#inventoryComponent {
    border-style: solid;
    border-width: 3px;
    border-color: rgb(97, 97, 141);
    margin: 3em;
    padding: 1.5em;
}

.editButton {
    width: 50px;
}

.sellButton {
    width: 50px;
}

.itemsList {
    margin-bottom: 1.5em;
}